@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #845afc;
    color: #fff;
    font-family: "Poppins";
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    fill: #fff;
    margin-left: 8px;
    cursor: pointer;
}

.task-input{
    background: none;
    border: 1px solid #845afc;
    padding: 0.5rem 1rem;
    color: #fff;
    width: 310px;

}

.icon-red{
    fill: rgb(201, 57, 57);
}

.icon-green{
    fill: rgb(94, 180, 91);
}

.logo{
    width: 50%;
    display: flex;
    margin: 0 auto;
    
}