.container-tasks{
    background-color: #1b1a41;
    border-radius: 10px;
    padding:  40px;
    width: 450px;
}

.form-task{
    margin-top: 20px;
    width: 100%;
}

.task-btn{
    background-color: #845afc;
    color: #fff;
    border: none;
    padding: 0.55rem;
    cursor: pointer;
}

.list-task{
    margin-top: 20px;
}